{% extends 'template.html'%}

{%block title%}
       Dashboard - page
{%endblock%}


{%block content%}
        <div class="col-md-12 page-404">
          <div class="alert alert-warning">
            <div class="number" style="position: relative; top: 10px">
                404
            </div>
            <div class="details">
              <p>Kami tidak dapat menemukan halaman yang anda cari.<br></p>
              <a href="{{'/'}}"> Kembali ke Dashboard</a>
            </div>
          </div>
          <div style="clear: both; width: 100%; height: 25px"></div>
        </div>
{%endblock%}

