{% extends 'template.html'%}
{%block title%}
       {{loan.title}}
{%endblock%}
{%block content%}
 <h3 class="page-title">
     Detail Pinjaman <small>Pinjaman</small>
 </h3>
<!-- BEGIN DASHBOARD STATS -->
<div class="page-bar">
    <ul class="page-breadcrumb">
           <li>
                  <i class="fa fa-home"></i>
                  <a href="{{'/'}}">Home</a>
                  <i class="fa fa-angle-right"></i>
           </li>
           <li>
                  <a href="{{'/loan'}}">Pinjaman</a>
                  <i class="fa fa-angle-right"></i>
           </li>
           <li>
                  <i>Detail Pinjaman</i>
           </li>
    </ul>
    <div class="page-toolbar">
           <div id="dashboard-report-range" class="pull-right tooltips btn btn-fit-height grey-salt" data-placement="top" data-original-title="Change dashboard date range">
                  <i class="icon-calendar"></i>&nbsp;
                  <span class="thin uppercase visible-lg-inline-block">&nbsp;</span>&nbsp;
                  <i class="fa fa-angle-down"></i>
           </div>
    </div>
</div>
<div class="col-md-7 ">
    <!-- BEGIN Portlet PORTLET-->
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-empare"></i>Persyaratan - {{loan.title}}
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title="">
                </a>
                <a href="" class="fullscreen" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body">
              <p><b>{{loan.desc}}</b></p>
                {% for loan_status in loan.status_loan_set.all %}
                <div class="col-md-12" style="margin-bottom: 10px">
                        - {{loan_status.desc}}
                </div>
                {%endfor%}

        </div>
    </div>
    <!-- END Portlet PORTLET-->
</div>
<div style="clear: both; width: 100%; height: 25px"></div>
<div class="col-md-12">
    <div class="portlet box grey-cascade">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-user"></i>Informasi Data Nasabah
            </div>
            <div class="tools" >
                <a href="javascript:;" class="expand" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body form" style="display: none">
            <!-- BEGIN FORM-->
            <form  method="post" action="{% url 'customer:add_user_customer' loan.id %}" id="formCustomer" class="horizontal-form">
                {% csrf_token %}
                <input type="hidden" value="{{loan.id}}" name="loanid" id="loanid">
                <div class="form-body">
                    <h3 class="form-section"><b>Data Diri</b></h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nama Awal</label>
                                <input type="text" id="firstName" name="first_name" class="form-control" placeholder="Anif">
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nama Belakang</label>
                                <input type="text" id="lastName" name="last_name" class="form-control" placeholder="Maulana">
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Jenis Kelamin</label>
                                <select class="form-control" name="gender">
                                    <option value="m">Male</option>
                                    <option value="f">Female</option>
                                </select>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-12" style="position: relative; left: -15px">Tanggal Lahir</label>
                                <input type="text" name="birthdate" data-date-format="yyyy-mm-dd" class="col-md-5 form-control form-control-inline input-medium date-picker" placeholder="yyyy-mm-dd" readonly>
                                <span class="input-group-btn col-md-7" style="position: relative; left: -13px">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <!--/span-->
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nomer Telfon</label>
                                <input type="text" class="form-control" name="phone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">No KTP</label>
                                <input type="text" class="form-control" name="ktp">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">No NPWP</label>
                                <input type="text" class="form-control" name="npwp">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type="text" class="form-control" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Jumlah Pinjaman</label>
                                <input type="text" class="form-control" name="jumlah_pinjaman">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Jangka Waktu</label>
                                <select class="form-control" name="jangka_waktu">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Bunga</label>
                                <input type="text" class="form-control" name="bunga">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <button type="button" class="btn default">Batal</button>
                    <button type="submit" id="submitCust" class="btn blue"><i class="fa fa-check"></i> Simpan</button>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    <div class="portlet box grey-cascade">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-users"></i>Informasi Data Pasangan
            </div>
            <div class="tools" >
                <a href="javascript:;" class="expand" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body form" style="display: none">
            <form action="#" class="horizontal-form">
                <div class="form-body">
                    <h3 class="form-section"><b>Data Pasangan</b></h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nama Awal</label>
                                <input type="text" id="firstName" class="form-control" placeholder="Chee Kin">
                                <span class="help-block">
                                This is inline help </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-error">
                                <label class="control-label">Nama Belakang</label>
                                <input type="text" id="lastName" class="form-control" placeholder="Lim">
                                <span class="help-block">
                                This field has error. </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Jenis Kelamin</label>
                                <select class="form-control">
                                    <option value="">Male</option>
                                    <option value="">Female</option>
                                </select>
                                <span class="help-block">
                                Select your gender </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Tanggal Lahir</label>
                                <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nomer Telfon</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">No KTP</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <h3 class="form-section"><b>Alamat</b></h3>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label>Tempat tinggal domisili</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Kota</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Negara</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Postal Kode</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Kota</label>
                                <select class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <button type="button" class="btn default">Batal</button>
                    <button type="submit" class="btn blue"><i class="fa fa-check"></i> Simpan</button>
                </div>
            </form>

        </div>
    </div>
    <div class="portlet box grey-cascade">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-sitemap"></i>Informasi Data Keluarga / Kontak Darurat
            </div>
            <div class="tools" >
                <a href="javascript:;" class="expand" data-original-title="" title="">
                </a>
            </div>
        </div>
        <div class="portlet-body form" style="display: none">
            <form action="#" class="horizontal-form">
                <div class="form-body">
                    <h3 class="form-section"><b>Data Keluarga / Kontak Darurat</b></h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nama Awal</label>
                                <input type="text" id="firstName" class="form-control" placeholder="Chee Kin">
                                <span class="help-block">
                                This is inline help </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-error">
                                <label class="control-label">Nama Belakang</label>
                                <input type="text" id="lastName" class="form-control" placeholder="Lim">
                                <span class="help-block">
                                This field has error. </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Jenis Kelamin</label>
                                <select class="form-control">
                                    <option value="">Male</option>
                                    <option value="">Female</option>
                                </select>
                                <span class="help-block">
                                Select your gender </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Tanggal Lahir</label>
                                <input type="text" class="form-control" placeholder="dd/mm/yyyy">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nomer Telfon</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">No KTP</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <h3 class="form-section"><b>Alamat</b></h3>
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <label>Tempat tinggal domisili</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Kota</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Negara</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Postal Kode</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Kota</label>
                                <select class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <button type="button" class="btn default">Batal</button>
                    <button type="submit" class="btn blue"><i class="fa fa-check"></i> Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-12">
</div>
{%endblock%}

