{% extends 'template.html'%}

{%block title%}
       Dashboard - page
{%endblock%}


{%block content%}
        <div class="col-md-12 page-404">
          <div class="alert alert-warning">
            <div class="number" style="font-size: 25px; font-weight: bold">
                404 | Halamaan tidak ditemkan
            </div>
            <div class="details">
              <p>Kami tidak dapat menemukan halaman yang anda cari.<br></p>
              <a href="{{'/'}}"> Kembali ke Dashboard</a>
            </div>
          </div>
        </div>
{%endblock%}

